  body {
      background: linear-gradient(135deg, #ff9933, #ffffff, #138808);
      margin: 10%;
  }


  #title {
      text-align: center;
      text-shadow: 5px 5px 10px white;
      font-size: 7vh;
  }


  img {
      display: block;
      width: 500px;
      margin: 0 auto;

  }

  #centered-img {
      display: block;
      margin: 0 auto;
  }

  #caption {
      font-size: 17px;
      font-family: Gill Sans;
      color: black;
  }

  div#tribute-data {
      background-color: rgba(241, 188, 64, 0.25);
      box-shadow: 20px 20px 20px #5f5546;
      font-family: Georgia;
      padding: 25px 25px;
      margin: 11px;
      margin-top: 50px;
  }

  h1.title-Patel {
      font-size: 35px;
      color: white;
      text-align: center;
      text-shadow: 5px 5px 10px black;
  }

  #tribute-link {
      text-decoration: none;
      color: black;
  }